<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Backyard?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">20150272u</property>
    <mapping resource="Pojo/Reservation.hbm.xml"/>
    <mapping resource="Pojo/Extras.hbm.xml"/>
    <mapping resource="Pojo/Users.hbm.xml"/>
    <mapping resource="Pojo/Detailreservationroom.hbm.xml"/>
    <mapping resource="Pojo/Bill.hbm.xml"/>
    <mapping resource="Pojo/Detailreservationclient.hbm.xml"/>
    <mapping resource="Pojo/Employee.hbm.xml"/>
    <mapping resource="Pojo/Room.hbm.xml"/>
    <mapping resource="Pojo/Clients.hbm.xml"/>
    <mapping resource="Pojo/Category.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
